* {font-family: Verdana; Tahoma; Arial; font-size: 10pt;}
body {background-color:#FFFFC0; width:360px; overflow-x:hidden;}
input[type="checkbox"],label {vertical-align: middle;}
input[type="button"] {margin-right: 5px;}
.links {margin-top: 3pt; word-wrap:break-word; height:12pt; overflow: hidden; cursor: row-resize;}
.links:hover {background: rgba(0,0,0,0.1);}
